Source: tapaal
Section: utils
Priority: extra
Maintainer: Kenneth Yrke Joergensen (yrke) <mail@yrke.dk>
Build-Depends: sun-java6-jdk, debhelper (>= 5)
Standards-Version: 3.7.3

Package: tapaal
Architecture: any
Depends: sun-java6-jre, ${shlibs:Depends}, ${misc:Depends}
Description: Tool for verification of Timed-Arc Petri Net www.tapaal.net
 Tool for verification of Timed-Arc Petri Net www.tapaal.net
